<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <img 
	nz-image
      width="100px"
      height="500px"
      nzSrc="assets/images/ng.PNG"
      alt="new access"/>
          <h1 >New access</h1>
        
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed"> 
        <li nz-submenu  nzTitle="Produit APSYS" nzIcon="unordered-list" nzTheme="outline">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/produit">APSYS_dev_code</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>APSYS_pkb_pr4</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>APSYS_pr1</a>
            </li>
          </ul>
        </li>
        <li nz-submenu  nzTitle="Calendrier" routerLink="/calendar" nzIcon="calendar" ></li>
        <li nz-submenu  nzTitle="Historique"routerLink="/history"   nzIcon="history" >
         <li nz-submenu  nzTitle="Problem"routerLink="/Problem"   nzIcon="inbox" >
       
 
      </li>
        <li nz-submenu  nzTitle="Configuration" nzIcon="unordered-list" nzTheme="outline">
          
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/user">Utilisateurs</a>
                </li>
          
                <li nz-menu-item nzMatchRouter>
                  <a  routerLink="/profil">Profil</a>
                </li>
              </ul>
            </li>
          </ul>
       
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
              
          </span>
         
          <button nz-button nzType="primary" routerLink="/scripts" class="boutton" >  Génération des scripts </button> 
          <button clas="test" nz-button nzType="primary" class="boutton" routerLink="/test" >  Test QA </button> 
             <button clas="livraison" nz-button nzType="primary" routerLink="/livraison" class="boutton"  >   Livraison </button> 
 
            
            
             <div class="menu">
            
              <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" >
                <nz-avatar nzIcon="user"     [nzSrc]="imageSrc"></nz-avatar>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/profil">
                  <i nz-icon nzType="user"  nzTheme="outline"></i>
                  My profile
                </button>
                <button mat-menu-item   (click)="Logout()" >
                  <i nz-icon nzType="logout" nzTheme="outline" > </i>
                  Logout
                </button>
              </mat-menu></div>
              <div class="notification-wrapper">
                <!-- You can put an icon from Material Design icon or Fontawesome -->
                <div class="notification-btn" >
                  <span class="mdi mdi-bell"></span>
                  <button mat-icon-button color="basic" (click)="openNotification(!showNotification)">
                     <i class="fa fa-bell"></i>
                    <span *ngIf="showNumerNotif" class="badge">{{nbNotif}}</span>
 
                  </button>
                </div>
                <div *ngIf="showNotification" class="notification-content" >
 
                 

                  <div class="dropdown-menu notification-ui_dd show" aria-labelledby="navbarDropdown">
                    <div class="notification-ui_dd-header">
                      <h3 class="text-center">Notification</h3>
                    </div>
                    <div class="notification-ui_dd-content" *ngFor="let not of notifications">
                      <a  class="notification-list " style="background-color:rgb(254, 254, 254) ; height: 50px; padding: 3px;text-decoration: none;">
                        <img src="assets/images/icon.png" alt="Snow" style="width:50px">
                        <small style="text-decoration: none;">{{not.text}}</small> 
                         <small>{{ not.avatar| date: "dd MMMM yyyy" }}</small>
                         <br><br>
                         <small>{{ not.username| date: "dd MMMM yyyy" }}</small>

                        </a>
 
 
 
 
 
                    </div>
 
                  </div>
                      </div>
                  </div>
        </div>
      </nz-header>
      <nz-content style="background-color:white ;">
 
        <div class="row" >
          <div class="column" *ngFor="let prob of ProblemList;" >
            <img src="assets/images/alert.png" alt="Snow" style="width:100%">
            <h6 style="text-decoration: none;">{{prob.object}}</h6>
            
            <p *ngIf="prob.visible" class="tm-pt-10" style="color:rgb(11, 11, 11) ;">
              {{prob.text}}
           </p>
           <small (click)="AfficheText(prob)" style="text-decoration: underline;color:blue">Affiche</small>
           <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary" style="  text-transform: uppercase;
            color: #e30f1d;">{{prob.usernameuser}}</span>
            <span class="tm-color-primary" style="  text-transform: uppercase;
            color: #380e8b;">{{ prob.date| date: "dd MMMM yyyy" }}</span>
        </div>
        <hr>
          </div>
     
 
        </div>
    </nz-content>
</nz-layout>
</nz-layout>